*{
    margin: 0;
    padding: 0;
}

.newsCardConatiner{
    /* border: 2px solid red; */
    /* display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important; */
}

